
{% block cart %}
    <!-- this part is duplicate from cartMenu  keep it for mobile -->
    <div class="navbar-cart  collapse">
        <div class="cartMenu  col-lg-4 col-xs-12 col-md-4 ">
            <div class="w100 miniCartTable scroll-pane mCustomScrollbar _mCS_1" style="overflow: hidden;">
                <div class="mCustomScrollBox mCS-dark-2" id="mCSB_1" style="position: relative; height: 100%; overflow: hidden; max-width: 100%; max-height: 300px;"><div class="mCSB_container mCS_no_scrollbar" style="position: relative; top: 0px;">
                        <table>
                            <tbody>
                            <tr class="miniCartProduct">
                                <td style="20%" class="miniCartProductThumb"><div> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> <img src="./TSHOP - Bootstrap E-Commerce Parallax Theme_files/3.jpg" alt="img"> </a> </div></td>
                                <td style="40%"><div class="miniCartDescription">
                                        <h4> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> TSHOP T shirt Black </a> </h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"> <span> $8.80 </span> </div>
                                    </div></td>
                                <td style="10%" class="miniCartQuantity"><a> X 1 </a></td>
                                <td style="15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                <td style="5%" class="delete"><a> x </a></td>
                            </tr>
                            <tr class="miniCartProduct">
                                <td style="20%" class="miniCartProductThumb"><div> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> <img src="./TSHOP - Bootstrap E-Commerce Parallax Theme_files/2.jpg" alt="img"> </a> </div></td>
                                <td style="40%"><div class="miniCartDescription">
                                        <h4> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> TSHOP T shirt Black </a> </h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"> <span> $8.80 </span> </div>
                                    </div></td>
                                <td style="10%" class="miniCartQuantity"><a> X 1 </a></td>
                                <td style="15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                <td style="5%" class="delete"><a> x </a></td>
                            </tr>
                            <tr class="miniCartProduct">
                                <td style="20%" class="miniCartProductThumb"><div> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> <img src="./TSHOP - Bootstrap E-Commerce Parallax Theme_files/5.jpg" alt="img"> </a> </div></td>
                                <td style="40%"><div class="miniCartDescription">
                                        <h4> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> TSHOP T shirt Black </a> </h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"> <span> $8.80 </span> </div>
                                    </div></td>
                                <td style="10%" class="miniCartQuantity"><a> X 1 </a></td>
                                <td style="15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                <td style="5%" class="delete"><a> x </a></td>
                            </tr>
                            <tr class="miniCartProduct">
                                <td style="20%" class="miniCartProductThumb"><div> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> <img src="./TSHOP - Bootstrap E-Commerce Parallax Theme_files/3.jpg" alt="img"> </a> </div></td>
                                <td style="40%"><div class="miniCartDescription">
                                        <h4> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> TSHOP T shirt Black </a> </h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"> <span> $8.80 </span> </div>
                                    </div></td>
                                <td style="10%" class="miniCartQuantity"><a> X 1 </a></td>
                                <td style="15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                <td style="5%" class="delete"><a> x </a></td>
                            </tr>
                            <tr class="miniCartProduct">
                                <td style="20%" class="miniCartProductThumb"><div> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> <img src="./TSHOP - Bootstrap E-Commerce Parallax Theme_files/3.jpg" alt="img"> </a> </div></td>
                                <td style="40%"><div class="miniCartDescription">
                                        <h4> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> TSHOP T shirt Black </a> </h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"> <span> $8.80 </span> </div>
                                    </div></td>
                                <td style="10%" class="miniCartQuantity"><a> X 1 </a></td>
                                <td style="15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                <td style="5%" class="delete"><a> x </a></td>
                            </tr>
                            <tr class="miniCartProduct">
                                <td style="20%" class="miniCartProductThumb"><div> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> <img src="./TSHOP - Bootstrap E-Commerce Parallax Theme_files/4.jpg" alt="img"> </a> </div></td>
                                <td style="40%"><div class="miniCartDescription">
                                        <h4> <a href="http://codepeoples.com/tanimdesign.net/tshop/html/product-details.html"> TSHOP T shirt Black </a> </h4>
                                        <span class="size"> 12 x 1.5 L </span>
                                        <div class="price"> <span> $8.80 </span> </div>
                                    </div></td>
                                <td style="10%" class="miniCartQuantity"><a> X 1 </a></td>
                                <td style="15%" class="miniCartSubtotal"><span> $8.80 </span></td>
                                <td style="5%" class="delete"><a> x </a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div><div class="mCSB_scrollTools" style="position: absolute; display: none;"><div class="mCSB_draggerContainer"><div class="mCSB_dragger" style="position: absolute; top: 0px;" oncontextmenu="return false;"><div class="mCSB_dragger_bar" style="position:relative;"></div></div><div class="mCSB_draggerRail"></div></div></div></div></div>
            <!--/.miniCartTable-->

            <div class="miniCartFooter  miniCartFooterInMobile text-right">
                <h3 class="text-right subtotal"> Subtotal: $210 </h3>
                <a class="btn btn-sm btn-danger"> <i class="fa fa-shopping-cart"> </i> VIEW CART </a> <a class="btn btn-sm btn-primary"> CHECKOUT </a> </div>
            <!--/.miniCartFooter-->

        </div>
        <!--/.cartMenu-->
    </div>
{% endblock %}