{% extends 'AdminCoreBundle::layout.html.twig' %}


{% block content_title %}
    {{ 'Example Zone'|trans }}
{% endblock content_title %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="block-flat">
                <div class="header">
                    <h3>This is a custom controller</h3>
                </div>
                <div class="content overflow-hidden">
                    <h4>What's this?</h4>
                    This is a custom controller that is an example of how you can create pages inside the admin area.
                    It is just a simple <code>bundle</code> that was created in the <code>src</code> directory of the
                    <code>bamboo-distribution</code>.<br>

                    <h4>Code</h4>
                    Take a look at <a href="https://github.com/elcodi/bamboo-distribution/tree/master/src/Elcodi/AdminExampleBundle">AdminExampleBundle</a>
                    to start crafting custom code based on Elcodi!
                </div>
            </div>
        </div>
    </div>
{% endblock content %}